html {
  background-image: url(https://cdn.wallpapersafari.com/5/10/aKe4ry.jpg);
  background-repeat: no-repeat;
}


.navBar {
  /* background-color: #808080; */
  list-style-type: none;
  margin-top: -25px;
  font-size: 36px;
  text-align: center;
  height: 70px;
  width: auto;
  
}

.menuTxt {
  font-size: 16px;
  font-family: 'Spectral SC', serif;
}

.menuTxt:hover {
  background-color: darkslategray;
}
  li {
    display: inline-block;
    color: white;
    padding: 10px;
    justify-content: center;
  }
.navBtns {
  padding: 20px;
  color: white;
  text-shadow: 1px 1.5px 3px purple;
  text-decoration: none;
  font-family: 'Spectral SC', serif;
}



.fa,.fab {
  color: black;
  text-shadow: 1px 1.5px 4px gray;
  padding: 15px;
  margin: auto;

}



  #stickyfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* background-color: #808080; */
    
  }

  .red {
    color: red;
  }

  #footerText {
      text-align: center;
      font-family: 'Spectral SC', serif;
      color: white;
      text-shadow: 1px 1.5px 3px purple;
      justify-items: auto;
      background-color:black;
  }

  #stickyfooter {
    position: fixed;
    width: 100%;
    height: 30px;
    opacity: 0.7;
  }

  #footerText {
      text-align: center;
      font-family: 'Spectral SC', serif;
      color: white;
      margin: auto;
      text-shadow: 1px 1.5px 3px purple;
  }
  
