html {
  background-image: url(https://cdn.wallpapersafari.com/5/10/aKe4ry.jpg);
}


.navBar {
  /* background-color: #808080; */
  list-style-type: none;
  margin-top: -25px;
  font-size: 36px;
  text-align: center;
  height: 70px;
  width: auto;
  
}

.menuTxt {
  font-size: 16px;
  font-family: 'Spectral SC', serif;
}

.menuTxt:hover {
  background-color: darkslategray;
}
  li {
    display: inline-block;
    color: white;
    padding: 10px;
    justify-content: center;
  }
.navBtns {
  padding: 20px;
  color: white;
  text-shadow: 1px 1.5px 3px purple;
  text-decoration: none;
  font-family: 'Spectral SC', serif;
}



.fa,.fab {
  color: black;
  text-shadow: 1px 1.5px 4px gray;
  padding: 15px;
  margin: auto;

}

.carousel {
margin-left: 28%;
margin-top: 25px;
}

.carousel-photo1 {
  margin-bottom: 20px;
  border:2px solid #000;
  outline: 3px solid black;
  outline-offset: -5px;
  padding: 5px;
  box-shadow: 2px 4px 6px gray;
}

.carousel-photo2 {
  margin-bottom: 20px;
  border: 2px gray solid;
  padding: 5px;
  outline: 3px solid black;
  outline-offset: -5px;
  padding: 5px;
  box-shadow: 2px 4px 6px gray;
  
}

.carousel-photo3 {
  margin-bottom: 20px;
  border: 2px gray solid;
  padding: 5px;
  outline: 3px solid black;
  outline-offset: -5px;
  padding: 5px;
  box-shadow: 2px 4px 6px gray;
}

.carousel-photo4 {
  margin-bottom: 20px;
  border: 2px gray solid;
  padding: 5px;
  outline: 3px solid black;
  outline-offset: -5px;
  padding: 5px;
  box-shadow: 2px 4px 6px gray;
}

.info {
  text-align: left;
  color: white;
  font-size: 22px;
  font-family: 'Spectral SC', serif;
  text-shadow: 1px 1.5px 3px purple;
}

#subText {
  position: relative;
  font-size: 36px;
  color: white;
  text-shadow: 1px 1.5px 3px purple;
}

a {
  text-decoration: none;
  cursor: pointer;
}
  #stickyfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* background-color: #808080; */
    
  }

  .red {
    color: red;
  }

  #footerText {
      text-align: center;
      font-family: 'Spectral SC', serif;
      color: white;
      text-shadow: 1px 1.5px 3px purple;
      justify-items: auto;
      
  }

  #stickyfooter {
    position: fixed;
    width: 100%;
    height: 30px;
    opacity: 0.5;
  }

  #footerText {
      text-align: center;
      font-family: 'Spectral SC', serif;
      color: white;
      margin: auto;
      text-shadow: 1px 1.5px 3px purple;
  }
  
