html {
    background-image: url(https://cdn.hipwallpaper.com/i/65/22/g876Ek.jpg);
    background-repeat: no-repeat;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  ul {
    border-bottom: 4px darkslategray solid;
    background-color: #808080;
    list-style-type: none;
    margin: 0;
    font-size: 26px;
    text-align: center;
    padding: 5px;
    
  }

  li {
    display: inline;
    color: white;
    padding: 25px;
  }
a {
  color: white;
  text-shadow: 1px 1.5px 3px purple;
}

a:hover {
  background-color: darkslategray;
  border-radius: 20%;
}

  #stickyfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #808080;
    border-top: 5px solid darkslategray;
  }

  #footerText {
      text-align: center;
      font-family: 'Arial Narrow Bold', sans-serif;
      color: white;
      justify-items: auto;
  }

  .footerLink {
    color: white;
    text-shadow: 1px 1.5px 3px purple;
    font-weight: 900;
    text-align: center;
    
  }