html {
    background-image: url(https://cdn.hipwallpaper.com/i/65/22/g876Ek.jpg);
    background-repeat: no-repeat;
}

.navBar {
  border-bottom: 4px darkslategray solid;
  background-color: #808080;
  list-style-type: none;
  margin-top: -25px;
  font-size: 24px;
  text-align: center;
  height: 70px;
  width: auto;
  
}


  li {
    display: inline-block;
    color: white;
    padding: 18px;
    justify-content: center;
  }
a {
  padding: 10px;
  color: white;
  text-shadow: 1px 1.5px 3px purple;
  text-decoration: none;
  font-family: 'Spectral SC', serif;
}

a:hover {
  background-color: darkslategray;
  border-radius: 20%;
}

/* Bio Card Styling */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: white;
}

.title {
  color: gray;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
  #stickyfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #808080;
    border-top: 5px solid darkslategray;
  }

  #footerText {
      text-align: center;
      font-family: 'Spectral SC', serif;
      color: white;
      text-shadow: 1px 1.5px 3px purple;
      justify-items: auto;
  }


  
  /* .footerLink {
    color: black;
    text-shadow: 1px 1.5px 3px orange;
    font-family: 'Spectral SC', serif;
    text-align: center;
    
  } */